body {
  background-color: #121212;
  background-image: url(./../../../public/img/Ellipse2.png),
    url(./../../../public/img/Ellipse1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
  background-attachment: fixed;
}
