.footer{
    color: rgba(255, 255, 255, 0.8);
    padding: 40px 0;
    background-color: #121212;
}

.footerInfo{
    justify-content: center;
    align-items: center;
}

.footer h4{
    font-size: 30px;
    padding-bottom: 20px;
}

.social{
    text-align: right;
}

.iconSocial{
    font-size: 30px;
    display: inline-block;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;
}

.iconSocial:hover{
    color:#1de782 ;
}