.homeHeader{
    position: fixed;
    width: 100%;
    background-color: #121212;
    z-index: 10;
}

.navbar-brand{
    color: #1DE782;
    font-size: 30px;
    font-weight: 600;
}

.nav-link{
    color: white;
    margin-left: 16px;
    transition: 0.2s;
}

.nav-link:hover, .my-active, .navbar-brand:hover{
    color: #1DE782 !important;
}

.btnLogout{
  border: none;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.navLogin{
    border: 1px solid white;
    color: white;
}

.navLogin:hover{
    border-color: #1DE782;
}