.thongTinDatVe {
  padding: 80px 0;
}

.thongTinPhim {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding-bottom: 100px;
}

.thongTinRap {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.thongTinRap span {
  font-weight: 600;
}

.titlePhim {
  padding: 20px 0;
  text-align: center;
}

/* seat */
.screen {
    margin: auto;
    border-bottom: 50px solid rgba(255, 255, 255, 0.3);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
  }

.styleDanhSachGhe{
 text-align: center;
 padding-bottom: 20px;
}

.ghe {
  border: 3px solid orange;
  width: 35px;
  height: 35px;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.gheVip{
    border: 3px solid rgb(109, 238, 109);
    background: orange;
}

.gheDaDat {
  border: 3px solid  rgb(224, 32, 32) !important;

  background: rgb(224, 32, 32) !important;
  color: #000;
  
  cursor: no-drop !important;
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;

  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.styleGhe{
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
}

.styleLoaiGhe{
  align-items: center;
  justify-content: center;
  padding: 0;
}

.styleLoaiGhe p{
  margin-left: 10px;
}

/* đặt vé  */
.datVe{
    color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(255, 255, 255, 0.8);
}

.datVe h4{
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding: 20px 0;
}

.table{
    color: rgba(255, 255, 255, 0.8);
}

.btnDatVe{
    width: 100%;
    border: 2px solid transparent;
    text-align: center;
    color: white;
    background-color: #1bbd6c;
    text-transform: uppercase;
    transition: 0.2s;
}

.btnDatVe:hover{
    color: white;
    background-color: transparent;
    border-color: white;
}

/* modal */
.modal {
  position: fixed;
  display: block;
  z-index: 1;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.modal-header,
.modal-body,
.modal-footer {
  background: #121212;
  border: none;
}

.modal-header {
  text-align: center;
}

.modal-header .modal-title,
.close {
  font-size: 20px;
  color: #1de782;
}

.modal-body p {
  color: white;
}

.btnAuthSignup,
.btnBackToHome {
  color: white;
  border: 1px solid white;
  font-size: 16px;
  transition: 0.2s;
}

.btnAuthSignup:hover,
.btnBackToHome:hover {
  color: #1de782;
  border-color: #1de782;
}

.btnAuthLogin, .btnInfoTicket {
  color: #1de782;
  font-size: 16px;
  border: 1px solid #1de782;
  transition: 0.2s;
}

.btnAuthLogin:hover, .btnInfoTicket:hover {
  color: white;
  border-color: white;
}
